@font-face {
   font-family: 'theboldfont';
   font-display: swap;
   src: url('file:///C:/Users/Martim%20Silva/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-28_184512/fonts/theboldfont/font.ttf');
}
